h1 {
  font-family: 'Kabisat';
}

.btn {
  background: rgba(0, 0, 0, 0.171);
  margin: 0 8px;
  font-family: Kabisat;
  text-shadow: 2px 2px var(--text-color);
  box-shadow: 2px 2px var(--text-shadow-color);
  padding: 5px;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
  background-image: url('/assets/textures/fire.gif');
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: vibrate 0.5s infinite;
}

.btn:active {
  transform: scale(0.95);
  box-shadow: 1px 1px var(--text-shadow-color);
}

@keyframes vibrate {
  0% {
    transform: translate(0px, 0px);
  }

  20% {
    transform: translate(-1px, 1px);
  }

  40% {
    transform: translate(1px, -1px);
  }

  60% {
    transform: translate(-1px, -1px);
  }

  80% {
    transform: translate(1px, 1px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.starting-screen-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 10;
  pointer-events: auto;
}

.bckg-gradient{
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #ff9a9a18;
  z-index: -2;
}


.bobbing {
  display: inline-block;
  animation-name: bobbing;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
  animation-iteration-count: infinite;
}

@keyframes bobbing {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.diagonal-line-left, .diagonal-line-right {
  position: fixed;
  filter: invert(1);

  background: url('/assets/textures/font-texture.avif');
  background-size: fit;
}

.diagonal-line-left {
  bottom: 0;
  left: -400px;
  width: 1000px;
  height: 600px;
  z-index: -1;
  transform: rotate(45deg);
}

.diagonal-line-right {
  top: -50px ;
  right: -400px;
  width: 1000px;
  height: 600px;
  z-index: -1;
  transform: rotate(60deg);
}



.textured-text {
  position: fixed;
  bottom: -4%;
  left: -10px;
  width: 100%;
  height: 18%;
  padding: 50px;
  z-index: 2;
  background: url('/assets/textures/font-texture.avif') repeat center;
  color: var(--text-color);
  transform: rotate(2deg);
  text-shadow:
      5px 5px 0 var(--text-shadow-color),
      -5px 5px 0 var(--text-shadow-color),
      5px -5px 0 var(--text-shadow-color),
      -5px -5px 0 var(--text-shadow-color),
      0px 5px 0 var(--text-shadow-color),
      0px -5px 0 var(--text-shadow-color),
      -5px 0px 0 var(--text-shadow-color),
      5px 0px 0 var(--text-shadow-color),
      8px 8px 0 var(--text-shadow-color),
      -8px 8px 0 var(--text-shadow-color),
      8px -8px 0 var(--text-shadow-color),
      -8px -8px 0 var(--text-shadow-color),
      0px 8px 0 var(--text-shadow-color),
      0px -8px 0 var(--text-shadow-color),
      -8px 0px 0 var(--text-shadow-color),
      8px 0px 0 var(--text-shadow-color),
      5px 8px 0 var(--text-shadow-color),
      -5px 8px 0 var(--text-shadow-color),
      5px -8px 0 var(--text-shadow-color),
      -5px -8px 0 var(--text-shadow-color),
      8px 5px 0 var(--text-shadow-color),
      -8px 5px 0 var(--text-shadow-color),
      8px -5px 0 var(--text-shadow-color),
      -8px -5px 0 var(--text-shadow-color);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.highlighted-text {
  color: var(--highlighted-color);
  font-size: larger;
}